 body{
    background-color: darkcyan;
    text-align: center;
    padding: 0px;
    margin: 0px;

  
    transition: transform 0.3s;
position: relative
top 100px;
left: 50px;
}
table,th,tr,td{
    text-align: center;
 padding : 10px;
 justify-content: center;
 margin: 0px;
 margin-top: 30px;
 margin-bottom: 4px;
 padding-bottom: 0px;
 padding-right: 10px;}

header{
    background-color: darkgray;
    padding:1px
    font-size 30px;
    text-align :center;
    tableight: 1px;}

#home{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 30vh;
    font-size: 1.0em;
    color: black;
}
#about{
    background-color: darkcyan;
    padding: 30px;
    text-align: center;
    color:black;
}
#about h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: capitalize;
    border-bottom:2px solid black;
display: inline-block;
padding-bottom: 10px;
}
#about p{
    background-color: darkgray;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6rem;
    font-size: 1.1rem;
}


header  nav,ul{
    list-style: none;
    padding:0px;
    margin: 0px;
    display: flex;
gap: 20px;
align-items: center;
    background-color:gray;
}


nav,ul,li{
    padding:10px ;
    margin: 10px;
 background-color: cornflowerblue;
 justify-content: center;
}
nav,ul,li a:hover{
 color: blanchedalmond;
}

nav,ul li a{
    color: blue(19,17,17);
    text-decoration: none;
font-weight: bold;
    margin: auto;
    
}
.project
{
border: 2px solid cadetblue;
padding: 20px;
margin: 20px;
background-color: burlywood;
box-shadow: 0 4px 8px rgb(0,0,0,0,1);
border-radius: 10px;
transition: transform 0.3s;
text-align: center;
 max-width: 1000%;
 margin: auto;
 margin-bottom: 20px;
}
.project.project:haver{
 transform: scale(1.05);
}

 skill {
   background-color: black;
    text-align:center;
    padding: 60px 10px;
    gap: 50px;
    justify-content: center;
 }
  ul{
    display: flex;
    list-style: none;
    padding: 20px;
 }
 li{
    margin: 10px;
    gap: 30px;
 }
 .home-text{
    color: black(158, 117, 117);
    font-size: 1.5rem;
 }
#contact{
 background-color: darkkhaki;
 text-align:center;}

#contact {
    background-color: darkcyan;
    text-align: center;
    padding: 2rem; 
}
form{
 display:grid;
gap:1rem;
}
label{
 display:grid;
}
form,input{
 border: 0.px solid #f4f4f4;
  padding:0.5rem;
margin: 1.5px;
border-radius: 1rem;
}
textarea{
 border-radius:1rem;
padding:0.95rem 1.7rem;
}
button{
display:grid;
margin:center;
padding:0.5rem 0.4rem 0.3rem;
font-weight:70px;
border-radius:996px;
justify-self: center;
 background:#24a81f;
font-size: 1rem;

}
footer{
background: #343a3b;
padding: 6px;
margin: 5px;
}   
